#pig {
  position:absolute;
  top: 150px;
  left: 200px;
}

#bikini {
  position: relative;
  height: 200px;
  left:1000px;
  top:240px;
  width: 170px;
}

#sombrero {
  position: relative;
  width: 180px;
  height: 150px;
  left:800px;
}

#sunglasses {
  position: relative;
  width: 153px;
  height: 50px;
  left:650px;
  top:300px;
}

#beanie {
  position: relative;
  width: 150px;
  top:420px;
  left:490px;
}

#scarf {
  position: relative;
  width: 170px;
  top: 600px;
  left: 350px;
}

#mitten1 {
  position: relative;
  height:100px;
  left:200px;
  top:780px;
}

#mitten2 {
  position: relative;
  height:100px;
  transform: rotate(90deg);
  top:700px;
  left:100px;
}

#hat {
  position: relative;
  width: 160px;
  left:10px;
  top:900px;
}

#shorts {
  position: relative;
  width:165px;
  height:90px;
  right: 190px;
  top: 1000px;
}

#tank {
  position:relative;
  left:940px;
  top:1040px;
  height:142px;
  width:344px;
}

#beret {
  position:relative;
  width:180px;
  height:170px;
  left:670px;
  top: 1150px;
}

#skirt {
  position:relative;
  height:170px;
  width:300px;
  left:440px;
  top:1300px;
}

#croptop {
  position: relative;
  width: 240px;
  height:160px;
  left:150px;
  top:1400px;

}
