#pig {
  position:absolute;
  top: 430px;
  z-index: 0;
}

#changeBackground {
  margin-left: 45%;
}

.droptarget {
  position: absolute;
  padding: 10px;
  border: 3px solid black;
  z-index: 1;
}
#head {
    margin-left: 410px;
    margin-top: 119px;
    width: 130px;
    height: 70px;
    border:0px;
}
#torso {
    margin-top: 180px;
    height: 110px;
    width: 230px;
    margin-left: -100px;
    border:0px;
}
#torso2 {
    margin-top: 150px;
    height: 110px;
    width: 230px;
    margin-left:-50px;
    border: 0px;
}
#legs {
    margin-top: 290px;
    height: 85px;
    width: 180px;
    margin-left: -80px;
    border:0px;

}
#legs2 {
    margin-top: 310px;
    height:110px;
    width:230px;
    margin-left:-50px;
    border:0px;
}
#feet {
    margin-top: 360px;
    height: 90px;
    width: 190;
    margin-left: -12px;
    border:0px;
}
.text{
  text-align: center;
}

.intro{
  text-align: center;
}

.title{
  text-align: center;
  color: #B770B5;
  font-size: 85px;
}

#shorts {
  width: 165px;
  height: 90px;
}
#tank {
  width: 344px;
  height:142px;
  margin-top: -10px;
}
#sombrero {

}
#hat {
  width: 160px;
}
#beret {

}
#croptop {
  width: 240px;
  height:160px;
}
#skirt {
  width: 300px;
  height:170px;
}
#sneakers {
  width: 170px;
}

#hat-space {
  float: left;
  width: 600px;
  height:200px;
    margin-left: 500px;
    margin-top: 100px;
}
#shirt-space {
    float: left;
  width: 600px;
    height:200px;
    margin-left: 500px;
    margin-top: 320px;
}
#pant-space {
    float: left;
  width: 600px;
    height:200px;
    margin-left: 500px;
    margin-top: 540px;
}
#shoe-space {
    float: left;
    height:200px;
  width: 500px;
    margin-left: 500px;
    margin-top:760px;
}
