#pig {
  position:absolute;
  top: 300px;
  z-index: 0;
}

#changeBackground {
  margin-left: 45%;
}

.droptarget {
  position: absolute;
  margin: -50px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  z-index: 1;
}
#head {
    margin-left: 430px;
    margin-top: 100px;
    width: 130px;
    height: 70px;
}
#torso {
    margin-top: 150px;
    height: 90px;
    width: 230px;
}
#legs {
    margin-top: 260px;
    height: 60px;
    width: 230px;
}
#feet {
    margin-top: 340px;
    height: 70px;
    width: 230px;
}
.text{
  text-align: center;
}

.intro{
  text-align: center;
}

.title{
  text-align: center;
  color: #B770B5;
}

#shorts {
  width: 100px;
  height: 70px;
}
#tank {
  width: 120px;
  margin-top: -10px;
}
#sombrero {
  width: 100px;
}
#hat {
  width: 100px;
}
#beret {
  width: 100px;
}
#croptop {
  width: 110px;
}
#skirt {
  width: 110px;
}
#sneakers {
  width: 130px;
}

#hat-space {
  float: left;
  width: 300px;
    margin-left: 500px;
    margin-top: 100px;
}
#shirt-space {
    float: left;
  width: 300px;
    margin-left: 500px;
    margin-top: 220px;
}
#pant-space {
    float: left;
  width: 300px;
    margin-left: 500px;
    margin-top: 350px;
}
#shoe-space {
    float: left;
  width: 300px;
    margin-left: 500px;
    margin-top: 480px;
}
