#pig {
  position:absolute;
  top: 150px;
  left: 200px;
}

#bikini {
  position: relative;
  height: 200px;
  left:1000px;
  top:240px;
  width: 170px;
}

#sombrero {
  position: relative;
  width: 180px;
  height: 150px;
  left:800px;
}

#sunglasses {
  position: relative;
  width: 153px;
  height: 50px;
  left:650px;
  top:300px;
}

#beanie {
  position: relative;
  width: 150px;
  top:420px;
  left:490px;
}

#scarf {
  position: relative;
  width: 170px;
  top: 600px;
  left: 350px;
}

#mitten1 {
  position: relative;
  height:100px;
  left:200px;
  top:780px;
}

#mitten2 {
  position: relative;
  height:100px;
  transform: rotate(90deg);
  top:700px;
  left:100px;
}

#hat {
  position: relative;
  width: 160px;
  left:10px;
  top:900px;
}

#shorts {
  position: relative;
  width:165px;
  height:90px;
  right: 190px;
  top: 1000px;
}

#tank {
  position:relative;
  left:940px;
  top:1040px;
  height:142px;
  width:344px;
}

#beret {
  position:relative;
  width:180px;
  height:170px;
  left:670px;
  top: 1150px;
}

#skirt {
  position:relative;
  height:170px;
  width:300px;
  left:440px;
  top:1300px;
}

#croptop {
  position: relative;
  width: 240px;
  height:160px;
  left:150px;
  top:1400px;

}

.droptarget {
  float: left;
  width: 120px;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  margin-left: 500px;
  margin-top: 50px;
}

#torso {
  margin-top: -15px;
}
#shirt-space {
  margin-top: -15px;
}
#legs {
  margin-top: -15px;
}
#pant-space {
  margin-top: -15px;
}
#feet {
  margin-top: -15px;
}
#shoe-space {
  margin-top: -15px;
}

.dragtarget {
  width: 90px;
  height: 30px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
}

.text{
  margin-left: 465px;
}

.intro{
  margin-left: 380px;
}

.title{
  margin-left: 480px;
  color: #B770B5;
}
